VITE_OPNET_RPC_URL=https://regtest.opnet.org
VITE_NETWORK=regtest
VITE_AEGIS_VESTING_ADDRESS=opr1sqqfte8zaftx59x9epa8l0nl8rh69fhy9e5et9dsy
VITE_AEGIS_VAULT_ADDRESS=opr1sqqs290xkt84z3fyl4pyda2hfzw6fj3kvs57pltnu
